/ProyectoFinal/ProyectoFinal/ProyectoFinalLaboIV/nbproject/private/
/ProyectoFinal/ProyectoFinal/ProyectoFinalLaboIV/build/

# Dependencias front end
ProyectoFinal/FrontEnd/app-react-proyectofinal-descomprimido/node_modules/