.navbar-parent {
    padding: 0 2rem;
}

.desktop-navbar {
    inherits: inherit;
}

.logo {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.shopping-cart {
    width: 40px;
    height: 40px;
    margin-left: calc(50vw - 4rem);
}

.log-btn {
    margin-left: 2rem;
    padding-right: 2rem;
}

.hamburger-container {    
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    right: 0;
    padding: 0 4rem;
}

.hamburger-container:hover {
    cursor: pointer;
    filter: contrast(175%) brightness(150%);
    transition: ease-in-out;
}

.top-span, .middle-span, .bottom-span {
    display: block;
    width: 24px;
    height: 2px;
    background-color: whitesmoke;
}

.top-span {
    margin-bottom: 4px;
    transform-origin: center center;
}

.bottom-span {
    margin-top: 4px;
    transform-origin: center center;
}

@media (max-width: 1020px) {
    .shopping-cart {
        margin-left: calc(50vw - 10rem);        
    }
    
}

@media (max-width: 840px) {
    .shopping-cart {
        margin-left: calc(50vw - 15rem);
    }
}

@media (max-width: 764px) {
    .shopping-cart {
        margin-left: 2rem;
    }

    .log-btn {
        margin-left: 1rem;
    }
}